*{
    background: border-box;
}
body{
    background-color: rgb(37, 37, 37);
}

.card{
    width: 330px;
    text-align: center;
    background: linear-gradient(135deg, #00feba,#5b548a);
    color: white;
    margin: 1rem auto ;
    border-radius: 20px;
    padding: 1.5rem;
}
.search input{
    border: 0;
    outline: 0;
    background: white;
    color : #555;
    padding: 10px 20px;
    height : 30px;
    border-radius: 30px;
    flex: 1;
    margin-right: 9px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50px;
    width: 55px;
    height: 50px; 
    cursor: pointer;
}
.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 20px;
}
.weather h1{
    font-size:55px ;
    font-weight: 500;
    margin-top: -2px;
}
.weather h2{
    font-size:45px ;
    font-weight: 400;
    margin-top: -20px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 20px;
}
.humidity, .wind{
    font-size: 30px;
    margin-top: -6px;
}